body{
    margin: 0;
    padding: 0;
  }

/*Hero section*/ 

.hero-section{
  margin-top: -20px;
  z-index: -1;
}
.hero-section img{
    max-height: 500px;
    z-index: -1;
    
}




/*Navbar section*/
#sub-nav
{
  margin-right:0px;
  background-color: transparent;
}
.Navigation
{
  background-color: transparent;}

#navbarSupportedContent
{
  justify-content: space-between;
}

/*Search button*/
.btn{
  align-items: end;
}

.search-bar
{
  margin-top: -40px;
  z-index:1000;
  padding-left: 15%;
  padding-right: 15%;
  width:95%;
  translate: 3% 300%;
}

.form-input
{
  padding-top: 1.2%;
  padding-bottom: 1.2%;
}


.carousel-item 
{
 background-color: transparent;
}

#image-carousel
{
  margin-top: -60px;
}

/* Scrollup cards */
:root {
  --orange: #fd9940;
  --darkorange: #dd7d25;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 50px 0;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
  margin-bottom: 1em;
  margin: auto;
}


.cards {
  /* height: 250px; */
  border: 1px solid #e9e9e9;
  /* padding: 8px; */
  box-sizing: border-box;

  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

div{
  display: block;
}
.card {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  height: 330px;
  border: 1px solid #adb5b5;
  border-radius: 25px;
  padding: 25px;
  /* width: 200px; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.card:hover {
  /* color: var(--white); */
  /* background: var(--orange); */
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  /* background: var(--orange); */
  padding: 6px 12px;
  border-radius: 8px;
  /* transition: background 0.2s; */
}

.card:hover .card-link {
  /* background: var(--darkorange); */
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  /* background: var(--darkorange); */
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .cards {
      grid-auto-columns: calc(50% - 10px);
      grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cards {
      grid-auto-columns: calc(calc(100% / 3) - 20px);
      grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
  }
}




/*  */
.circular-image {
  width: 90px; /* Adjust the width and height to your preferred size */
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon {
  font-size: 20px; 
  vertical-align: middle; 
  margin-left: 10px; 
}
.card-title {
  font-size: 20px; 
}


/*    */

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*  CARD GRID   */
/* CardGrid.css */
body{
  background: #F4F5FA;
}
/* .flex-box{ */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
/* } */

/* .cards{ */
  /* background: #FFF; */
  /* width: 250px; */
  /* margin: 20px; */
  /* box-shadow: 0px 0px 20px rgba(0,0,0,0.05); */
  /* box-sizing: border-box; */
  /* padding: 20px; */
  /* border-radius: 5px; */
/* } */

.img{
  height: 200px;
  width: 100px;
  /* background:   ; */
  border-radius: 5px;
  background-size: cover;
}

 /* a */
 /* {  */
   /* padding: 10px;  */
   /* width: 100px;  */
   /* display: block;  */
   /* text-align: center;  */
   /* background: #333EFF20;  */
   /* box-sizing: border-box;  */
   /* border-radius: 4px;  */
   /* color: #333eFF;  */
   /* text-decoration: none;  */
   /* font-size: 15px;  */
 /* }  */




 /* 5 Cards in each row */
 .card-top-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-top {
  flex: 0 0 calc(20% - 20px);
  background-color: #f0f0f0;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-top img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-top h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.card-top p {
  font-size: 14px;
  color: #0d0101bb;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1200px) {
  .card-top {
    flex: 0 0 calc(25% - 20px);
  }
}

@media screen and (max-width: 992px) {
  .card-top {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .card-top {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .card-top {
    flex: 0 0 calc(100% - 20px);
  }
}


.nowrap
{
  display: flex;
}

.colomn
{
  flex:1;
}

.padding-card
{
  padding-top: 10px;
}

/*small cards styles */

.small-card 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px; /* Set your desired width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.small-card .circular-image {
  width: 90px; /* Set your desired width */
  height: 30px; /* Set your desired height */
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.small-card .circular-image img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.small-card .card-title {
  font-size: 12px; /* Set your desired font size */
  margin: 5px 0;
}

.small-card p {
  font-size: 14px; /* Set your desired font size */
  margin: 5px 0;
}

.small-card .card-link-wrapper {
  margin-top: 15px;
}

.small-card .card-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px; /* Set your desired font size */
}


.select-box {
  height: 330px;
  border: 1px solid #adb5bd;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}



/*  slider cards  */






